<div class="topnav">
  <a href="#home">Home</a>
  <a href="#browse">Browse</a>
  <a href="#dashboard">myDashboard</a>
</div>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>
  <a href="#browse">Back to Browse</a>
  <br>
  <p></p><br><p></p>
  <input type="text" placeholder="Search for influencers">
  <button type="submit"><i class="fa fa-search"></i></button>
  <h1>TOP MATCHES</h1>
  <div class="parent">
    <div class="inline-block-child">
      <div class="container">
        <h1>90%</h1>
        <p>Match</p>
      </div>
    </div>
    <div class="inline-block-child">
      <div class="card parent">
        <div class="inline-block-child">
          <i class="far fa-smile fa-5x"></i>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Name</b>
          <p><i class="fas fa-map-marker-alt"> Location</i></p>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Industry</b>
          <p>Age</p>
        </div>
        &nbsp;&nbsp;
        <div class="inline-block-child">
          <i class="fab fa-instagram fa-5x"></i>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Followers</b>
          <p>ER</p>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Tags</b>
          <p>Growth Rate</p>
        </div>
        &nbsp;&nbsp;
        <div class="inline-block-child">
          <h1>4.5</h1>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <i class="fas fa-star fa-5x"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="parent">
    <div class="inline-block-child">
      <div class="container">
        <h1>90%</h1>
        <p>Match</p>
      </div>
    </div>
    <div class="inline-block-child">
      <div class="card parent">
        <div class="inline-block-child">
          <i class="far fa-smile fa-5x"></i>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Name</b>
          <p><i class="fas fa-map-marker-alt"> Location</i></p>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Industry</b>
          <p>Age</p>
        </div>
        &nbsp;&nbsp;
        <div class="inline-block-child">
          <i class="fab fa-instagram fa-5x"></i>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Followers</b>
          <p>ER</p>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Tags</b>
          <p>Growth Rate</p>
        </div>
        &nbsp;&nbsp;
        <div class="inline-block-child">
          <h1>4.5</h1>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <i class="fas fa-star fa-5x"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="parent">
    <div class="inline-block-child">
      <div class="container">
        <h1>90%</h1>
        <p>Match</p>
      </div>
    </div>
    <div class="inline-block-child">
      <div class="card parent">
        <div class="inline-block-child">
          <i class="far fa-smile fa-5x"></i>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Name</b>
          <p><i class="fas fa-map-marker-alt"> Location</i></p>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Industry</b>
          <p>Age</p>
        </div>
        &nbsp;&nbsp;
        <div class="inline-block-child">
          <i class="fab fa-instagram fa-5x"></i>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Followers</b>
          <p>ER</p>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <b>Tags</b>
          <p>Growth Rate</p>
        </div>
        &nbsp;&nbsp;
        <div class="inline-block-child">
          <h1>4.5</h1>
        </div>
        &nbsp;
        <div class="inline-block-child">
          <i class="fas fa-star fa-5x"></i>
        </div>
      </div>
    </div>
  </div>
  
  </body>



<router-outlet></router-outlet>
